<!--&lt;!&ndash; header &ndash;&gt;-->
<!--<div>-->
    <!--<ul class="nav nav-tabs">-->
        <!--<li routerLinkActive="active" ><a routerLink="/">Home</a></li>-->
        <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/products">产品</a></li>-->
        <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="signin">登录</a></li>-->
    <!--</ul>-->
<!--</div>-->

<!--<main>-->
    <!--<router-outlet></router-outlet>-->
<!--</main>-->

<!--&lt;!&ndash; footer &ndash;&gt;-->
<!--<footer>-->
    <!--<p>-->
        <!--<a href="http://jasonwatmore.com/post/2017/04/19/angular-2-4-router-animation-tutorial-example">Angular 2/4 - Router Animation Tutorial & Example</a>-->
    <!--</p>-->
    <!--<p>-->
        <!--<a href="http://jasonwatmore.com">JasonWatmore.com</a>-->
    <!--</p>-->
<!--</footer>-->
<style>
    /*@import '/assets/bootstrap-3.3.7/dist/css/bootstrap.css';*/
    body {
        min-height: 1200px;
    }

    .navbar-static-top1 {
        margin-bottom: 19px;
    }

    .m-ft {
        line-height: 19px;
        text-align: center;
        color: #999;
    }
</style>
<div class="container" style="min-height: 1200px;">
    <!--&lt;!&ndash; Static navbar &ndash;&gt;-->
    <nav class="navbar navbar-default navbar-static-top1">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation1</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">Home</a></li>-->
                    <!--<li><a href="#">About</a></li>-->
                    <!--<li><a href="#">Contact</a></li>-->
                    <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li>-->
                    <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/products">产品</a></li>-->
                    <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/signin">登录</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

     <!--Main component for a primary marketing message or call to action-->
    <!--<div class="jumbotron">-->
        <!--<h1>Navbar example</h1>-->
        <!--<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>-->
        <!--<p>-->
            <!--<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>-->
        <!--</p>-->
    <!--</div>-->

    <!--<main>-->
        <!--<router-outlet></router-outlet>-->
    <!--</main>-->
</div> <!-- /container -->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="/app/bootstrap-3.3.7/assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<!--<script src="/app/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
<!--<script src="/app/bootstrap-3.3.7/assets/js/ie10-viewport-bug-workaround.js"></script>-->



<footer class="footer">
    <div class="m-ft">
        <p><a href="mailto:nehzwd@163.com?subject=To NEC Team">意见反馈</a>|<a href="http://hr.163.com/getPositionById.do?rms=1&amp;id=236" target="_blank">加入我们</a>|<a href="http://nej.netease.com" target="_blank">更好的JS解决方案</a></p>
        <p>Copyright © 1997-2013 NetEase. All Rights Reserved. </p>
    </div>
</footer>

