<div class="sidebar-border">
  <ul class="nav nav-tabs nav-stacked">
    <li  *ngFor="let item of data">

      <a href="/#/{{item.url}}" class="nav-header" style="align-items: flex-start" (click)="itemClicked(item);">
        <i class="fa " [ngClass]="item.icon"></i> <span>{{item.name}}</span>
        <span class="pull-right glyphicon " [ngClass]="!isLeaf(item) ? 'glyphicon-chevron-down':''"></span>
      </a>

      <sidebar-treeview-menu [data]="item"></sidebar-treeview-menu>
    </li>
  </ul>
</div>
