@import '../../../assets/scss/base/app-base.scss';

.c-home-login-tip{
    color: $frame-color-primary
}

.c-home-card{
   max-height: 335px;
   .c-home-card-inner{
      max-height: 270px;
      .c-home-card-tip{
          color: $frame-color-primary
      }
      .c-date{
          color:$frame-color-primary;
      }
   }
}



.c-home-common-func-outline{
   border:0px  dashed $frame-color-primary;
  .c-home-common-func{
       padding:6px;
       &:hover {
           background: $frame-color-primary;
           cursor: pointer;
       }

   }
}






