
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <div class="header">
        <div class="navbar-header">
          <div class="navbar-brand" href="#">{{mainData.appData.appName}}</div>
        </div>

        <div class="tool-right">
          <ul class="nav navbar-nav navbar-right">
            <li class="c-item" (click)="toHome()">
              <i class="fa fa-home fa-fw"></i> 首页
            </li>
            <li class="c-user" ngbDropdown>
              <div ngbDropdownToggle class="d-inline-block">
                <img class="rounded-circle" [src]="mainData.userData.userAvatar" />
                <span>{{mainData.userData.userName}}</span>
              </div>
              <div ngbDropdownMenu class="animated fadeIn">
                <button class="dropdown-item"  (click)="userInfo()"><i class="fa fa-user-circle-o fa-fw"></i> 个人资料</button>
                <button class="dropdown-item"  (click)="passwordEdit()"><i class="fa  fa-key fa-fw"></i> 修改密码</button>
                <button class="dropdown-item"  (click)="exitSys()"><i class="fa  fa-sign-out fa-fw"></i> 退出系统</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </div>
</nav>
