@import '../../assets/scss/base/app-base.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: $frame-color-primary;
}

//.tool-content-wrapper {
//  width: 100%;
//  height: calc(100vh-61px);
//  height: -moz-calc(100vh - 61px);
//  height: -webkit-calc(100vh - 61px);
//  height: calc(100vh - 61px);
//  .tool-content{
//    width:100%;
//    height:100%;
//    padding:15px;
//  }
//}

.tool-right .nav {
  display: flex;
  align-items: center;
}
.tool-right .c-user {
   padding-left: 16px;
   padding-right: 6px;
   margin-left: 10px;
   width: 139px;
   cursor: pointer;
 }

.tool-right .c-user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: -3px;
}

.tool-right .c-item {
   padding-left: 15px;
   padding-right: 15px;
   transition: 0.35s;
   -moz-transition: 0.35s;
   -webkit-transition: 0.35s;
   -o-transition: 0.35s;
   float: left;
   font-size: 15px;


   &:hover {
     background: #8c8c8c;
     cursor: pointer;
   }
 }

//.tool-right .c-user dropdown-menu {}

.tool-right .c-user .dropdown-menu {
    background-color: $frame-color-primary;
}

.tool-right .c-user .dropdown-menu .dropdown-item {
  height: 35px;
  line-height: 0px;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  background-color: #ebccd1;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;

  &:hover {
    background: #8c8c8c;
    cursor: pointer;
  }
}

.content-main {
  display: flex;
  justify-content: flex-start;
  padding: 0 10px;
  overflow: hidden;
  margin-bottom: -99999px;
}

