<div class="login-page">
  <div class="container" >
    <div class="form row">
      <div class="text-center c-login-header">
        <img src="assets/img/logo.png" class="rounded-circle" />
        <h3 class="card-title" style="display:inline">后台管理系统登录</h3>
      </div>
      <div class="form-horizontal col-md-offset-2">
        <div class="col-md-10">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <i class="fa fa-user fa-lg"></i>
              <input class="form-control required" type="text" placeholder="请输入用户名..." formControlName="userName"/>
              <div class="c-validator-invalid" [hidden]="!(loginForm.controls['userName'].errors && loginForm.controls['userName'].dirty)">
                用户名必填，6-15位！
              </div>
            </div>
            <div class="form-group">
              <i class="fa fa-lock fa-lg"></i>
              <input class="form-control required" type="password" placeholder="请输入密码..." formControlName="password" maxlength="8"/>
              <div class="c-validator-invalid" [hidden]="!(loginForm.controls['password'].errors && loginForm.controls['password'].dirty)">
                密码必填，6-15位！
              </div>
            </div>
            <div class="form-group">
              <label class="checkbox">
                <input type="checkbox" name="remember" value="1"/>记住我
              </label>
            </div>
            <div class="form-group col-md-offset-9">
              <button type="submit" class="btn btn-success pull-right" [disabled]="!loginForm.valid" (click)="login();">登录</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
